@page
@model eUI.Pages.Checkout.IndexModel
@{
    ViewData["Title"] = "Checkout Complete";
}

<div class="container">
    <div class="row">
        <div class="col-md-9">
            <h3>Thanks for your Order!</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <a asp-page="/Index">Continue Shopping...</a>
        </div>
    </div>
</div>
